.wellcome span {
  color: var(--red-color);
}

aside ul li a {
  color: var(--bg-light);
}
.profile .edit {
  color: var(--red-color);
}
.profile .profile-img-container {
  position: relative;

  margin: 0 auto;
  width: 250px;
  height: 250px;
  overflow: hidden;
}
.profile .profile-img-container .profile-img-label::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.158);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}
.profile .profile-img-container .profile-img-label:hover::before {
  background-color: rgba(0, 0, 0, 0.274);
}
.profile .profile-img-container .profile-img-label {
  width: 250px;
  height: 250px;
  cursor: pointer;
}

.profile .profile-img-container .admin-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.profile .profile-img-container .ic-camera {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  padding: 5px;
  font-size: 50px;
}
