.Admin-SideBar {
  :global {
    background-color: $blue-color;
    width: 300px;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    z-index: 999;
    a {
      color: white;
    }
  }
}
@media (max-width: 992px) {
  .Admin-SideBar {
    background-color: $blue-color;
    position: fixed;
    height: 100%;
    width: 250px;
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
  }
  .Admin-SideBar.active {
    transform: translateX(0);
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
  }
  .Admin-SideBar .close-Sidebar {
    color: white;
    cursor: pointer;
    font-size: 30px;
  }
}

.Admin-SideBar .arrow-right {
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}
.Admin-SideBar .arrow-right.active {
  transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
}
.statstics {
  background-color: var(--bg-light);
}
.Admin-SideBar .Admin-links {
  height: 50vh;
}
