.table-wrapper {
  :global {
    @media (max-width: 768px) {
      overflow-x: auto;
    }
    .custom-table {
      width: 100%;
      font-size: 14px;
      border: 1px solid $border-color-light;
      background-color: $bg-light;
      [data-theme="dark"] & {
        border-color: $border-color-dark;
        background-color: $bg-dark-2 !important;
      }
      thead {
        background-color: $bg-light;
        color: $text-dark;
        [data-theme="dark"] & {
          background-color: $bg-dark-2;
          color: $text-light;
        }
      }

      th,
      td {
        border: 1px solid $border-color-light;
        [data-theme="dark"] & {
          border-color: $border-color-dark;
          color: $text-light;
        }
        padding: 20px 15px;
        white-space: nowrap; // يمنع كسر الأسطر داخل الخلية
      }

      tr:hover {
        background-color: $bg-light-2;
        [data-theme="dark"] & {
          background-color: $bg-dark;
        }
      }

      .no-data {
        text-align: center;
        padding: 20px;
        font-style: italic;
        color: #999;
      }
    }
  }
}
