.login {
  &::before {
    content: "";
    width: 100%;
    position: absolute;
    background-image: url("../assets/images/pngs/vectors.d7f48e81.png");
    background-repeat: no-repeat;
    left: 0;
    bottom: 0;
    background-position: 50%;
    background-size: cover;
    height: 155px;
  }
  :global {
    position: relative;
    min-height: 100vh;
    background: linear-gradient(
      to bottom left,
      #e07575 0%,
      #db4444 50%,
      #7d8184 90%
    );

    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;

    .inner {
      position: relative;

      .eyeIcon,
      .register .google-signup {
        transition: 0.5s;
        -webkit-transition: 0.5s;
        -moz-transition: 0.5s;
        -ms-transition: 0.5s;
        -o-transition: 0.5s;
      }

      .register .form-control,
      .login .form-control {
        border: none;
        border-bottom: 1px solid $primary-color;
        border-radius: 5px;
        transition: 0.5s;
      }
      .register .form-control:focus,
      .login .form-control:focus {
        border: none;
      }
      .register .mobile-Image {
        object-fit: cover;
      }
      .register .google-signup {
        border: 1px solid $primary-color;
        background-color: white;
      }

      .remember-me {
        width: 20px;
        height: 20px;
        border: 2px solid $primary-color;
        background-color: $primary-color;
      }
      .login-btn,
      .register-btn {
        border-bottom: 1px solid $primary-color;
      }
      .login-btn:hover,
      .register-btn:hover {
        border-bottom: 1px solid $secondary-color;
      }

      .forget-password {
        color: $primary-color;
      }

      .eyeIcon {
        right: 20px;
      }
      .eyeIcon:hover {
        color: $primary-color;
      }
    }
  }
}
