.warning-layout {
  background-color: rgba(0, 0, 0, 0.425);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
}

.warning-layout .warning-icon {
  font-size: 100px;
  color: var(--red-color);
}

.warning-layout button:hover {
  color: white;
  background: var(--red-color);
}
