$primary-color: #db4444;
$secondary-color: #e07575;
$transition: all 0.5s;
// #F5F5F5
// #ffffff
// #7D8184
// #000000
// #00FF66
// #E07575
// #A0BCE0
// #db4444
$bg-dark: #1d1d42;
$bg-light: #eeeeee3b;
$text-light: #eeeeeeee;
$blue-color: #1d1d42;
$color: #999;
$checked-color: #ff5722;
