$primary-color: #db4444;
$secondary-color: #e07575;
$transition: all 0.5s;
$checked-color: #ff5722;
$yellew-color: #00ff66;

// dark modde colors
$bg-dark: #17191a;
$bg-dark-2: #1c1c1c;
$text-light: #ffff;
$border-color-dark: #2c2c2c;

// light mode colors
$bg-light: #ffffff;
$bg-light-2: #f9f9f9;
$text-dark: #000000;
$bg-gray: #7d8184;
$border-color-light: #ccc;
