.image-wrapper {
  position: relative;
}
.add-img {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--red-color);
  width: 150px;
  height: 150px;
}
.add-img svg {
  font-size: 50px;
}
.remove-img {
  position: absolute;
  top: 0%;
  left: 0%;
}
.CategoryImage,
.add-img {
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.CategoryImage img,
.subCategoryImage img {
  object-fit: cover;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  overflow: hidden;
  width: 200px;
  height: 200px;
  font-size: 30px;
}
.addsubcategory select,
.addsubcategory input {
  width: 90%;
  margin: 0 auto;
}
.addsubcategory select {
  outline: none;
  padding: 10px 15px;
  margin-bottom: 15px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  transition: 0.1s;
  -webkit-transition: 0.1s;
  -moz-transition: 0.1s;
  -ms-transition: 0.1s;
  -o-transition: 0.1s;
}
.addsubcategory select:focus {
  border: 2px solid var(--red-color);
}
.addsubcategory select option {
  color:$primary-color
}
.addsubcategory select option:hover {
  background-color:$primary-color
}
